<div class="sofaImageWrapper">
<img class="imageFit" [src]="sofaImage" />
</div>
<div class="sofaWrapper">
    <model-viewer [src]="sofaUrl" camera-controls auto-rotate background-color="#333333"  stage-light-intensity="0.5"></model-viewer>
</div>

<div class="nightstandWrapper">
    <model-viewer #nightstand [src]="nightstandUrl" camera-controls background-color="#333333"></model-viewer>
</div>
<img class="ukeImage imageFit" [src]="ukeImage" />
<div class="ukuleleWrapper">
    <model-viewer [src]="ukeUrl" camera-controls background-color="#333333" stage-light-intensity="0.8" ></model-viewer>
</div>