
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Update Bulma's global variable
$family-sans-serif: "Nunito", sans-serif;



model-viewer {
        height:100%;
        width:100%;
    }

.mainContent {
  grid-column:3/8;
  grid-row:2/12;
  padding:20px;
}

.navigation {
  grid-column: 1/13;
  grid-row:1;
  // font-size:1.2em;
  .navbar-item {
   font-size:1.2em;
   padding:15px;
  }
}

.grid {
  display:grid;
  height:100vh;
  width:100vw;
  grid-template-columns: repeat(12, 8%);
  grid-template-rows: repeat(12, 8%);
}


// Import only what is needed from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import 'bulma/sass/components/navbar.sass';

