
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

html, body {
  height:100%  !important;
  font-family:  "Nunito", sans-serif;
  background:#333;
  overflow-x:hidden;
}

.mainContent {
  padding:20px;
  background:#fff !important;
  height:100%;
  width:100%;
  display:block;
}

// model-viewer web component

model-viewer {
  height:100% !important;  
  width:100%;
}

